 body {
     line-height: 26px;
     font-family: "Roboto", sans-serif;
     color: #777777;
     background: url(img/body-bg.png) no-repeat center;
}
 h1,h2,h4,h6 {
     font-family: "Rubik", sans-serif;
     font-weight: 500;
}
a{
    text-decoration: none;
}
.container{
    padding-left:5%;
    display:flex;
    flex-wrap:wrap;
}
.special-shadow{
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.06);
}
.half-width{
    flex:0 0 50%;
    max-width:50%;
    vertical-align:middle;
    align-self:center;
    float:left
}
.primary-btn {
    color: white;
    background-color: #8845f4;
    padding: 13px 42px;
    border-radius: 20px;
}
h1 {
    font-size: 2.5em;
    line-height: 50px;
}
h2 {
     font-size: 2em;
}
.top-banner {
     background: url(img/banner/home-banner.png) no-repeat scroll center center;
}
.side-img{
    width: 50%;
}
.bio-area{
    padding: 5%;
}
.education {
     background: white;
     padding: 30px;
     margin: 10px;
}
.edu-item {
    padding: 10px;
    border-left: 1px solid rgba(137, 130, 247, .2)
}
.company-info {
    color: #8845f4;
}
.footer{
    margin-left: 100px;
}

@media (max-width: 400px) {
    .half-width{
        max-width: 100%;
        color:red;
    }
}